h1{
	font-family: Verdana;
	color: #1B4F72;
}
.main{
	border: 1px solid #ccc;
	font-family: Roboto, Helvetica, sans-serif;
	color: darkslategray;
	padding: 20px;
	width: 50%;
	background: #f3f3f3;
	margin: auto;
	
}

input{
	border: 1px solid #ccc;
 
  	padding: 12px 20px;
  	margin: 8px 0;
}
button{
	border: 1px solid #ccc;
  	
  	padding: 12px 20px;
  	margin: 8px 0;
}
button:hover{
	color: #000000;
	background: #ffffff;
}
body{
    background-color:#7D3C98;
}